* {
  box-sizing: border-box;
}

html {
  font-family: "Pretendard", "Apple SD Gothic Neo", Helvetica, "Helvetica Neue", sans-serif, "Malgun Gothic", "Apple Gothic", Arial;
  font-size: 10px;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

button, input {
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

input, textarea, button { 
  font-family: inherit; 
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 80px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo-wrapper {
  flex: 1;
}

.logo {
  height: 32px;
  cursor: pointer;
}

.little-search {
  display: flex;
  padding: 0 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  border-radius: 40px;
  height: 48px;
  box-sizing: border-box;
  min-width: 330px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
  transition: box-shadow 0.2s ease-in-out;
}

.little-search:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

.little-search * {
  cursor: pointer;
}

.little-search__button {
  padding: 0 16px;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(34, 34, 34)
}

.little-search__button:nth-of-type(3) {
  color: #717171;
}

.divider {
  flex-basis: 1px;
  flex-shrink: 0;
  background-color: #dddddd;
  height: 24px;
}

.magnifying-glass-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 32px;
  flex-shrink: 0;
  height: 32px;
  background-color: #ff385c;
  border-radius: 50%;
}

.magnifying-glass-icon {
  width :12px;
}

.header-right-section {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  flex: 1;
}

.do-airbnb {
  padding: 12px;
  font-size: 1.4rem;
  color: #222222;
  font-weight: 600;
  cursor: pointer;
  border-radius: 22px;
}

.do-airbnb:hover {
  background-color: #f7f7f7;
}

.profile-section {
  display: flex;
  padding: 5px 5px 5px 12px;
  border: 1px solid #dddddd;
  border-radius: 21px;
  gap: 12px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.profile-section:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

nav {
  position: sticky;
  top: 80px;
  z-index: 1;
  background-color: #fff;
}

nav.sticky {
  box-shadow: rgb(0 0 0/16%) 0 0 6px;
}

.category-bar {
  display: flex;
  margin: 0 40px;
  gap: 20px;
  overflow: auto;
}

.category-bar::-webkit-scrollbar {
  display: none;
}

.category-button {
  color: #717171;
  height: 66px;
  padding: 14px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.category-button img {
  width: 28px;
}

.active-img {
  display: none;
}

.category-button div {
  white-space: nowrap;
}

.category-button:hover {
  color: #000000;
  border-bottom: 2px solid #dddddd;
}

.category-button:hover .active-img {
  display: inline-block;
}

.category-button:hover .inactive-img {
  display: none;
}

#active-category-button {
  color: #000000;
  border-bottom: 2px solid #dddddd;
}

#active-category-button .active-img {
  display: inline-block;
}

#active-category-button .inactive-img {
  display: none;
}

.category-left-button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1px 0 1px 40px;
  width: 76px;
  z-index: 1;
  background-image: linear-gradient(to left,rgb(255 255 255/0),white 40px);
  cursor: pointer;
}

.category-left-button.inactive {
  display: none;
}

.category-right-button.inactive {
  display: none;
}

.category-left-button button {
  background-color: #fff;
  border: 0.5px solid rgb(0 0 0/0.3);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category-right-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1px 40px 1px 0;
  width: 76px;
  z-index: 1;
  background-image: linear-gradient(to right,rgb(255 255 255/0),white 40px);
  cursor: pointer;
}

.category-right-button button {
  background-color: #fff;
  border: 0.5px solid rgb(0 0 0/0.3);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.place-list-item {
  width: 308px;
}

.place-image-wrapper {
  width: 308px;
  height: 293px;
  position: relative;
}

.place-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 23px;
}

.place-image-wrapper .heart-icon {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.description-section {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 3fr 1fr;
  gap: 2px 8px;
  margin-top: 12px;
}

.description-section__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #222222;
}

.description-section__sub-title, .description-section__date {
  font-size: 1.5rem;
  font-weight: 300;
  color: #717171;
}

.description-section__star {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  text-align: end; 
}

.description-section__star > span {
  font-size: 1.5rem;
  font-weight: 300;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 308px);
  gap: 40px 24px;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
  margin: 20px 0;
}