* {
  box-sizing: border-box;
}

html {
  font-family: "Pretendard", "Apple SD Gothic Neo", Helvetica, "Helvetica Neue", sans-serif, "Malgun Gothic", "Apple Gothic", Arial;
  font-size: 10px;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

button, input {
  outline: none;
  border: none;
  background: none;
}

input, textarea, button { 
  font-family: inherit; 
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 80px;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}

.logo-wrapper {
  flex: 1;
}

.logo {
  height: 32px;
  cursor: pointer;
}

.little-search {
  display: flex;
  padding: 0 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  border-radius: 40px;
  height: 48px;
  box-sizing: border-box;
  min-width: 330px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
  transition: box-shadow 0.2s ease-in-out;
}

.little-search:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

.little-search * {
  cursor: pointer;
}

.little-search__button {
  padding: 0 16px;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(34, 34, 34)
}

.little-search__button:nth-of-type(3) {
  color: #717171;
}

.divider {
  flex-basis: 1px;
  flex-shrink: 0;
  background-color: #dddddd;
  height: 24px;
}

.magnifying-glass-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 32px;
  flex-shrink: 0;
  height: 32px;
  background-color: #ff385c;
  border-radius: 50%;
}

.magnifying-glass-icon {
  width :12px;
}

.header-right-section {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  flex: 1;
}

.do-airbnb {
  padding: 12px;
  font-size: 1.4rem;
  color: #222222;
  font-weight: 600;
  cursor: pointer;
  border-radius: 22px;
}

.do-airbnb:hover {
  background-color: #f7f7f7;
}

.profile-section {
  display: flex;
  padding: 5px 5px 5px 12px;
  border: 1px solid #dddddd;
  border-radius: 21px;
  gap: 12px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.profile-section:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}